:root {
  color-scheme: light;

  /* set defaults */
  --theme-color-primary: var(--theme-color-primary-light);
  --theme-color-secondary: var(--theme-color-secondary-light);

  --text1: var(--text1-light);
  --text2: var(--text2-light);

  --surface-primary-1: var(--surface-primary-light-1);
  --surface-primary-2: var(--surface-primary-light-2);
  --surface-primary-3: var(--surface-primary-light-3);
  --surface-primary-4: var(--surface-primary-light-4);
  --surface-primary-5: var(--surface-primary-light-5);

  --surface-secondary-1: var(--surface-secondary-light-1);
  --surface-secondary-2: var(--surface-secondary-light-2);
  --surface-secondary-3: var(--surface-secondary-light-3);
  --surface-secondary-4: var(--surface-secondary-light-4);
  --surface-secondary-5: var(--surface-secondary-light-5);

  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}
