html {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

* {
  --theme-color-primary-hue: 600;
  --theme-color-primary-saturation: 100%;
  --theme-color-primary-lightness: 50%;
  --theme-color-secondary-hue: 390;
  --theme-color-secondary-saturation: 50%;
  --theme-color-secondary-lightness: 50%;
  --font-size-base: 1.25em;
  --spacing-base: 1rem;
  /* light */
  --theme-color-primary-light: hsl(
    var(--theme-color-primary-hue) var(--theme-color-primary-saturation)
      var(--theme-color-primary-lightness)
  );
  --theme-color-secondary-light: hsl(
    var(--theme-color-secondary-hue) var(--theme-color-secondary-saturation)
      var(--theme-color-secondary-lightness)
  );
  --text1-light: hsl(var(--theme-color-primary-hue) var(--theme-color-primary-saturation) 10%);
  --text2-light: hsl(var(--theme-color-primary-hue) 30% 30%);
  --surface-primary-light-1: hsl(var(--theme-color-primary-hue) 25% 60%);
  --surface-primary-light-2: hsl(var(--theme-color-primary-hue) 25% 70%);
  --surface-primary-light-3: hsl(var(--theme-color-primary-hue) 20% 80%);
  --surface-primary-light-4: hsl(var(--theme-color-primary-hue) 25% 90%);
  --surface-primary-light-5: hsl(var(--theme-color-primary-hue) 25% 99%);
  --surface-secondary-light-1: hsl(var(--theme-color-secondary-hue) 25% 60%);
  --surface-secondary-light-2: hsl(var(--theme-color-secondary-hue) 20% 70%);
  --surface-secondary-light-3: hsl(var(--theme-color-secondary-hue) 20% 80%);
  --surface-secondary-light-4: hsl(var(--theme-color-secondary-hue) 20% 90%);
  --surface-secondary-light-5: hsl(var(--theme-color-secondary-hue) 20% 99%);
  --surface-shadow-light: var(--theme-color-primary-hue) 10% 20%;
  --shadow-strength-light: 0.02;
  /* dark */
  --theme-color-primary-dark: hsl(
    var(--theme-color-primary-hue) calc(var(--theme-color-primary-saturation) / 2)
      calc(var(--theme-color-primary-lightness) / 1.5)
  );
  --theme-color-secondary-dark: hsl(
    var(--theme-color-secondary-hue) calc(var(--theme-color-secondary-saturation) / 2)
      calc(var(--theme-color-secondary-lightness) / 1.5)
  );
  --text1-dark: hsl(var(--theme-color-primary-hue) 15% 85%);
  --text2-dark: hsl(var(--theme-color-primary-hue) 5% 65%);
  --surface-primary-dark-1: hsl(var(--theme-color-primary-hue) 5% 30%);
  --surface-primary-dark-2: hsl(var(--theme-color-primary-hue) 5% 25%);
  --surface-primary-dark-3: hsl(var(--theme-color-primary-hue) 10% 20%);
  --surface-primary-dark-4: hsl(var(--theme-color-primary-hue) 10% 15%);
  --surface-primary-dark-5: hsl(var(--theme-color-primary-hue) 10% 10%);
  --surface-shadow-dark: var(--theme-color-primary-hue) 50% 3%;
  --shadow-strength-dark: 0.8;
}

:root {
  color-scheme: light;
  /* set defaults */
  --theme-color-primary: var(--theme-color-primary-light);
  --theme-color-secondary: var(--theme-color-secondary-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface-primary-1: var(--surface-primary-light-1);
  --surface-primary-2: var(--surface-primary-light-2);
  --surface-primary-3: var(--surface-primary-light-3);
  --surface-primary-4: var(--surface-primary-light-4);
  --surface-primary-5: var(--surface-primary-light-5);
  --surface-secondary-1: var(--surface-secondary-light-1);
  --surface-secondary-2: var(--surface-secondary-light-2);
  --surface-secondary-3: var(--surface-secondary-light-3);
  --surface-secondary-4: var(--surface-secondary-light-4);
  --surface-secondary-5: var(--surface-secondary-light-5);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

.text-primary-1 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 10%);
}

.bg-primary-1 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 10%);
}

.text-primary-2 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 20%);
}

.bg-primary-2 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 20%);
}

.text-primary-3 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 30%);
}

.bg-primary-3 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 30%);
}

.text-primary-4 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 40%);
}

.bg-primary-4 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 40%);
}

.text-primary-5 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 50%);
}

.bg-primary-5 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 50%);
}

.text-primary-6 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 60%);
}

.bg-primary-6 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 60%);
}

.text-primary-7 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 70%);
}

.bg-primary-7 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 70%);
}

.text-primary-8 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 80%);
}

.bg-primary-8 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 80%);
}

.text-primary-9 {
  color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 90%);
}

.bg-primary-9 {
  background-color: hsl(var(--theme-color-primary-hue), var(--theme-color-primary-saturation), 90%);
}

.text-secondary-1 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 10%);
}

.bg-secondary-1 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 10%);
}

.text-secondary-2 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 20%);
}

.bg-secondary-2 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 20%);
}

.text-secondary-3 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 30%);
}

.bg-secondary-3 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 30%);
}

.text-secondary-4 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 40%);
}

.bg-secondary-4 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 40%);
}

.text-secondary-5 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 50%);
}

.bg-secondary-5 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 50%);
}

.text-secondary-6 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 60%);
}

.bg-secondary-6 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 60%);
}

.text-secondary-7 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 70%);
}

.bg-secondary-7 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 70%);
}

.text-secondary-8 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 80%);
}

.bg-secondary-8 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 80%);
}

.text-secondary-9 {
  color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 90%);
}

.bg-secondary-9 {
  background-color: hsl(var(--theme-color-secondary-hue), var(--theme-color-secondary-saturation), 90%);
}

.surface-primary-1 {
  background-color: var(--surface-primary-1);
}

.surface-primary-2 {
  background-color: var(--surface-primary-2);
}

.surface-primary-3 {
  background-color: var(--surface-primary-3);
}

.surface-primary-4 {
  background-color: var(--surface-primary-4);
}

.surface-primary-5 {
  background-color: var(--surface-primary-5);
}

.surface-secondary-1 {
  background-color: var(--surface-secondary-1);
}

.surface-secondary-2 {
  background-color: var(--surface-secondary-2);
}

.surface-secondary-3 {
  background-color: var(--surface-secondary-3);
}

.surface-secondary-4 {
  background-color: var(--surface-secondary-4);
}

.surface-secondary-5 {
  background-color: var(--surface-secondary-5);
}